.done-icon {
  color: green;
}

.clear-icon {
  color: red;
}

.boldtext {
  font-weight: bold;
}

.done-icon {
  cursor: pointer;
}

.clear-icon {
  cursor: pointer;
}

.active-text {
  color: #00cc00;
}

.deactive-text {
  color: #ff0000;
}

.confirmBtn {
  margin-right:40px;
}

.confirm_text {
  color: #00cc00;
}

.unconfirm_text {
  color: #ff0000;
}
