::-webkit-input-placeholder {
   color: #fff;
}
::-moz-placeholder {
   color: #fff;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #fff;
}
input {
  margin: 0;
}
p {
  margin: 0;
  padding: 15px 60px;
  background: #d66367;
  color: #fff;
}
