$fontsize: 17px;
// $fontfamily: monospace;

.navbar{
  // font-size: $fontsize;
  // font-family: $fontfamily;
}


.navbar-default{
    background-color: rgba(60, 170, 241, 1);
    border-color: rgba(60, 170, 241, 1);
    .navbar-brand{
      color:rgb(255, 255, 255);
      // position: absolute;
      // left: 50%;
      // margin-left: -50px !important;  /* 50% of your logo width */
      // display: block;


    }
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle:hover .icon-bar{
  background-color:rgb(33, 115, 191);
}
.navbar-default .navbar-nav li a:hover{
  background-color: rgb(128, 213, 255);
}
.navbar-header li .navbar-brand:hover{
  background-color:rgb(128, 213, 255);
  .brand-text:hover{
    color:rgb(46,139,87);
  }
}

.navbar {
  
    box-shadow: 0.5px 1px 10px 0.01px #888888;
}

.navbar-default .navbar-nav li a{
    color:rgb(255, 255, 255)
}
