$fontsize: 17px;
// $fontfamily: monospace;

.navbar{
  // font-size: $fontsize;
  // font-family: $fontfamily;
}


.navbar-default {
    background-color: #390909;
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    background-color: #8b8b8b;
    box-shadow: 0.5px 1px 10px 0.01px #888888;
}
.navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
