.toInline {
  display: inline-flex;
}

.RegisForm {

  p{
    display: table-cell;
    float: left;
  }
  input{
    display: table-cell;
  }
}
.btn-register{
  margin-left: 10px;
  margin-top:8px;
  margin-right: 10px;
}
