.design-title{
  font-size: 30px;
  margin-left: 20px;
  color:#539DDB
}

.design-text{
  font-size: 20px;
  margin-left: 6%;
  color:#539DDB
}

.input-group {
  display: inline-grid;
  width: 50%;
}
