.btn-signup{
  margin-top: 8px;
  margin-left: 10px;
  color:#8f967d
}

.btn-default{
    color: #2291d7;
    background-color: #49a6e2;
    border-color: #cf1414;
}
.ul-login a{
  margin-left: 15px;
  margin-bottom: -30px;
}
